html {
    letter-spacing: .6px;
}

body {
    min-height: 100vh;
    padding: 40px 0;
}

header {
    width: 400px;
}

main {
    width: 400px;
    border-radius: 20px;
}

input {
    padding: 0 10px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

input, button {
    border-radius: 8px;
    outline: none;
}

h1 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

p, a {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

@media (max-width: 450px) {
    p {
        text-align: center;
    }

    header {
        width: 100%;
    }

    main {
        width: 100%;
        border-radius: 0;
    }   
}