@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
    /* Fonte */
    --font-Inter: "Inter", sans-serif;
    /* Cores Semânticas */
    --color-success: #16A34A;
    --color-warning: #F59E0B;
    --color-danger: #DC2626;
    --color-brand: #4338CA;
    /* Cores Interface Tema Claro */
    --color-background-light: #EBEBEB;
    --color-surface-light: #FFFFFF;
    --color-surface-alt-light: #F0F0F0;
    --color-border-light: #D4D4D4;
    /* Cores Interface Tema Escurto */
    --color-background-dark: #181818;
    --color-surface-dark: #232323;
    --color-surface-alt-dark: #2D2D2D;
    --color-border-dark: #3A3A3A;
    /* Cores Texto Tema Claro */
    --color-text-primary-light: #171717;
    --color-text-secondary-light: #525252;
    --color-text-muted-light: #737373;
    /* Cores Texto Tema Escuro */
    --color-text-primary-dark: #F5F5F5;
    --color-text-secondary-dark: #B0B0B0;
    --color-text-muted-dark: #808080;
    /* Tamanhos de fontes */
    --text-display: 1.75rem;
    --text-display--line-height: 2.125rem;
    --text-heading: 1.375rem;
    --text-heading--line-height: 1.75rem;
    --text-title: 1.25rem;
    --text-title--line-height: 1.5rem;
    --text-body: 1.125rem;
    --text-body--line-height: 1.5rem;
    --text-body-small: 1rem;
    --text-body-small--line-height: 1.5rem;
    --text-caption: 0.875rem;
    --text-caption--line-height: 1.25rem;
    --text-tiny: 0.75rem;
    --text-tiny--line-height: 1rem;
}